div.select-sell{
    width: 85%;
    height: auto;
    /* background-color: pink; */
    margin: 50px auto;
    border: 1px solid lightgray;
    border-radius: 25px;

}
div.select-sell>.select-top{
    width: 100%;
    margin: 40px 0;
    /* background-color: yellow; */
   

}
div.select-sell>.select-top>h2{
   text-align: center;
   font-size:25px;
   
}
div.select-sell>.select-bottom{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    
}
div.select-sell>.select-bottom>.bottom-child{
    width: 16.666%;
    /* background-color:lightblue; */
    border-left: 1px solid rgba(226, 223, 223, 0.684);
    border-bottom: 1px solid rgba(226, 223, 223, 0.684);
}
div.select-sell>.select-bottom>.bottom-child:nth-of-type(6){
    border-left: unset;
}
div.select-sell>.select-bottom>.bottom-child:nth-of-type(12){
    border-left: unset;
}
div.select-sell>.select-bottom>.bottom-child:nth-of-type(18){
    border-left: unset;
    border-bottom: unset;
}
div.select-sell>.select-bottom>.bottom-child:nth-of-type(13){
    border-bottom: unset;
}
div.select-sell>.select-bottom>.bottom-child:nth-of-type(14){
    border-bottom: unset;
}
div.select-sell>.select-bottom>.bottom-child:nth-of-type(15){
    border-bottom: unset;
}
div.select-sell>.select-bottom>.bottom-child:nth-of-type(16){
    border-bottom: unset;
}
div.select-sell>.select-bottom>.bottom-child:nth-of-type(17){
    border-bottom: unset;
}
div.select-sell>.select-bottom>.bottom-child>a{
    display: inline-block;
    width: 100%;
    text-decoration: none;  
}
div.select-sell>.select-bottom>.bottom-child>a>div.sell-img{
    width: 196px;
    height: 150px;
    /* background-color:lightgreen; */
    text-align: center;
    margin:20px auto;
}
div.select-sell>.select-bottom>.bottom-child>a>div.sell-img>img{
    width: 90%;
    height: 100%;
   
}
div.select-sell>.select-bottom>.bottom-child>a>div.off-cost{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 35px;
}
div.select-sell>.select-bottom>.bottom-child>a>div.off-cost>h4{
    color: black;
}
div.select-sell>.select-bottom>.bottom-child>a>div.off-cost>span{
    color: white;
    background-color: crimson;
    width: 20%;
    text-align: center;
    border-radius: 15px;
   
}
div.select-sell>.select-bottom>.bottom-child>a>div.real-cost{
    width: 100%;
    margin: 10px 0px;
    direction: ltr;
    padding: 0 65px;
}
div.select-sell>.select-bottom>.bottom-child>a>div.real-cost>h5{
    color: gray;
    text-decoration: line-through;
    

}