* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: yekan;
  src: url(../../fonts/IRANYekan-Bold.eot);
  src: url(../../fonts/IRANYekan-Bold.ttf);
  src: url(../../fonts/IRANYekan-Bold.woff);
  src: url(../../fonts/IRANYekan-Bold.woff2);
}
html,
body {
  font-family: yekan;
  scroll-behavior: smooth;
}
div.wrapper {
  width: 100%;
}
