div.suggest{
    width: 85%;
    height: auto;
    margin: 20px auto;
    text-align: center;
    /* background-color: green; */

}
div.suggest>h3{
    font-family: yekan;
    text-align: center;
}
div.suggest>div.suggest-parent{
    width: 100%;
    height: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
   
    margin-top: 20px;
    /* background-color:yellow; */
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 15px;
}
div.suggest>div.suggest-parent>div.suggest-child{
    width: 14.27%;
    height: 154.1px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid rgb(227, 227, 227) ;
    border-left:1px solid rgb(227, 227, 227) ; 
    /* background-color: pink;   */
}
div.suggest>div.suggest-parent>div.suggest-child:nth-of-type(7),div.suggest>div.suggest-parent>div.suggest-child:nth-of-type(14){
    border-left:unset !important;
}
div.suggest>div.suggest-parent>div.suggest-child>a{
    width: 84px;
    height: 84px;
    display: inline-block;
    background-color:lightgrey;
    border-radius: 50%; 
    position: relative;
    margin-bottom: 15px;
   
    
}
div.suggest>div.suggest-parent>div.suggest-child>a>img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    position: absolute;
    top: calc(50% - 30px);
    /* transform: translateY(-50%);     */
    right: calc(50% - 30px);   


}
div.suggest>div.suggest-parent>div.suggest-child>h5{
    font-family: yekan;
}